.main{
    height: 60vh;
    background-image:linear-gradient(
        to right,
        rgba(119, 119, 119, 0.767),
        rgba(211, 124, 124, 0.808)
    ),
        url(images/back.jpg);
    
    background-size: cover;
    background-position: top;
    position:relative;
    
}
.header-primary{
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: 275px;
    font-size: 50px;
    letter-spacing: 20px;
    display: block;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
